#container {
    display: flex;
    min-height: 1500px;
  }
  
  #audrey {
    background-color: purple;
    color: snow;
    min-height: 100px;
    width: 50px;
    position: fixed;
  }




  body {
    height: 2000px;
  }
  
  #container {
    width: 200px;
    height: 200px;
    /* border: 2px solid; */
    position: fixed;
  }
  
  /* #box {
    width: 100%;
    height: 100%;
    background: red;
  } */